.vs/Zoo-System 2/FileContentIndex/3f14c17f-cac2-4cd1-93eb-80772d829d0f.vsidx
.vs/Zoo-System 2/v17/Browse.VC.db
.vs/Zoo-System 2/v17/Browse.VC.db
.vs/Zoo-System 2/v17/Browse.VC.db
.vs/Zoo-System 2/v17/Browse.VC.opendb
.vs/Zoo-System 2/v17/Browse.VC.db-wal
.vs/Zoo-System 2/v17/Browse.VC.db-shm
.vs/Zoo-System 2/v17/Browse.VC.db
.vs/Zoo-System 2/v17/Browse.VC.db
.vs/Zoo-System 2/v17/Browse.VC.db
.vs/Zoo-System 2/v17/Browse.VC.db
